TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE
FACEBOOK_PAGE_ID=YOUR_FACEBOOK_PAGE_ID_HERE
FACEBOOK_PAGE_ACCESS_TOKEN=YOUR_FACEBOOK_PAGE_ACCESS_TOKEN_HERE
PORT=3000
APP_URL=https://vantage-forwarder-production.up.railway.app
WHATSAPP_GROUP_NAME=YOUR_WHATSAPP_GROUP_NAME_HERE
